h2 {
  font-size: 24px;
  color: #ec4767;
}

h3{
  color: #302f2f;
}

.background{
  margin: 40px;
}

.logo{
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: -10px;
}

/* Paneles con totales */
.panels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  
}

/* @media (min-width: 768px) {
  .panel {
    width: 48%;
  }
} */

.panel-products {
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  font-weight:630;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
}

.specific-products {
  background-color: #ec4767;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
}

.last-user {
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
}


.contentCategories {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-text {
  /* flex: 1; */
  font-weight:630;
}

.user-image {
  max-width: 100px;
  padding-bottom: 5px;
}


.categories {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  background-color: #ec4767;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  min-width: 30%;
  margin-bottom: 5px;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  flex-direction: row;
}
/* ul {
  list-style-type: none;
  padding: 0;
  font-weight:500;
} */

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  padding:1rem;

}

li {
  margin: 5px 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .user-details {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
  }

  .panels-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .panel{
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  .user-image img {
    width: 100%;
    height: auto;
  }

  .user-image{
    margin: auto;
    max-width: none;
  }
  
  .user-text{
    font-size: 3vw;
    overflow: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
  }
}