h2 {
  font-size: 30px;
  color: #ec4767;
}

h3{
  color: #302f2f;
}

.background{
  margin: 40px;
}

.logo{
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: -10px;
}

/* Paneles con totales */
.panels-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.panel {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 29%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  margin-right: 20px;
}



.panel-products {
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  font-weight:630;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.specific-products {
  background-color: #ec4767;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
}

.user-info {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px; 
}

.titulo-user{
  display: flex;
  margin-block-end:0;
  margin-left: 50px;
  align-self: center;
}

.last-user{
  display:flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-text .user-image{
  margin: 0, 20px, 0, 20px;
}

.user-text {
  flex: 1;
  font-weight:bold;
  font-size: 25px;
  
}

.user-image {
  max-width: 100px;
  margin-left: 100px;
  padding-bottom: 5px;
}

.contentCategories{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  justify-content: space-around;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  background-color: #ec4767;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  font-weight:500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 38%;
  
}

li {
  margin: 5px 0;
  font-size: 25px;
}

@media (max-width: 820px) {
  .user-details {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
  }

  .panels-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .panel{
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
  }

  h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
  }

  

  .user-image img {
    width: 100%;
    height: auto;
  }

  .user-image{
    margin: auto;
    max-width: none;
  }
  
  .user-text{
    display:flex;
    flex-direction: column;
    margin-top:0px;
    margin-bottom: 0px;
    align-items: center;
    overflow: auto;

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
  }

.contentCategories {
  display:flex;
  flex-direction: column;
}
.categories{
  flex:1;
  margin-bottom: 0.5rem;
  font-size: 20px;
  width: 80%;
}

p{
  font-size: 30px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

}

/* @media (min-width: 768px) {
  .panel {
    width: 48%;
  }
} */