h2 {
  font-size: 24px;
  color: #ec4767;
}

h3{
  color: #302f2f;
}

.background{
  margin: 40px;
}

.logo{
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: -10px;
}

/* Paneles con totales */
.panels-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.panel {
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 29%;
}

.last-user {
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-text {
  flex: 1;
}

.user-image {
  margin-left: 20px;
  max-width: 100px;
}

.detail-panel {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 16px;
}
